<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VLTech - Admin</title>
        
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
        <link rel="stylesheet" href="/assets/css/app.css">
 
    </head>

<body>

    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
              <div class="sidebar-header">
                <img
                  style="width: 100px; height: 100px"
                  src="/assets/images/Wallet.png"
                  alt=""
                  srcset=""
                />
              </div>
              <div class="sidebar-menu">
                <ul class="menu">
                  <li class="sidebar-title">
                    <a href="overview" class="sidebar-link">
                      <span>OverView</span>
                    </a>
                  </li>
                  <li class="sidebar-item ">
                    <a href="/partner/qltkdoitac" class="sidebar-link">
                      <span>Quản Lý đối tác</span>
                    </a>
                  </li>
                  <li class="sidebar-item active">
                    <a href="/user/studentlist" class="sidebar-link">
                      <span>Quản Lý sinh viên</span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="/history/listhistory" class="sidebar-link">
                      <span>Quản lí lịch sử giao dịch</span>
                    </a>
                  </li>
                  <li class="sidebar-item has-sub">
                    <a href="" class="sidebar-link">
                      <span>Quản lí tiền tiền</span>
                    </a>
                    <ul class="submenu">
                      <li>
                        <a href="naptien">Nạp tiền</a>
                      </li>
                      <li>
                        <a href="hoadonruttien">Rút tiền</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <button class="sidebar-toggler btn x">
                <i data-feather="x"></i>
              </button>
            </div>
          </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar mr-1">
                                    <img src="/assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Hi, Admin</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="main-content container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            <h4>Thông Tin Sinh Viên</h4>
                        </div>
                        <div class="card-body">
                                      <div>
                                        <% for(let i=0; i < dataUser.length; i++) {%>
                                        <form action="/user/student/<%=dataUser[i].mssv%>" method="GET">
                                          <div class="modal-body row">
                                            
                                              <label style="font-weight:bold; 
                                              font-family:'Times New Roman', Times, serif; font-size: 25px;">Tên Sinh Viên:
                                                <%= dataUser[i].tenSV %>
                                              </label>
                                              <label style="font-weight:bold;
                                              font-family:'Times New Roman', Times, serif; font-size: 25px;">Mail : 
                                                <%= dataUser[i].email %>
                                              </label>
                                              <label name="mssv" style="font-weight:bold;
                                              font-family:'Times New Roman', Times, serif; font-size: 25px;">Mã Số Sinh Viên : 
                                                <%= dataUser[i].mssv %> 
                                              </label>
                                              <label style="font-weight:bold;
                                              font-family:'Times New Roman', Times, serif; font-size: 25px;">Giới Tính :
                                                <%= dataUser[i].gioiTinh%> 
                                              </label>
                                              <label style="font-weight:bold;
                                              font-family:'Times New Roman', Times, serif; font-size: 25px;">Số Tiền Hiện Có :
                                                <%= dataUser[i].soDu %> 
                                              </label>
                      
                                              <% } %>
                                          </div>
                                          <div class="modal-footer">
                                            <a href="/user/studentlist" class="btn btn-default" data-dismiss="modal">Trở về</a>
                                          </div>
                                        </form>
                                      </div>
                                    </div>

                      

                               

<!-- ---------------------------------------------------------------------------------------------------------------- -->
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                  <div class="float-left">
                    <p>2022 &copy; SEP team 10</p>
                  </div>
                </div>
              </footer>
        </div>
    </div>
    <script src="/assets/js/feather-icons/feather.min.js"></script>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/js/vendors.js"></script>


</body>

</html>